<%- include('./partials/header'); -%>
    <div class="login-logout hide">
        <button class="viewCount" id="signin">Login</button>

        <span id="username"></span>
        <button class="viewCount hide" id="signout">Logout</button>
    </div>

    <% 
    if (user && user.role == "admin") { %>
        <a href = "/addgames" target = "_blank">
            <button style="margin-left: 20px"> Add a game  </button>
        </a>
    <% } else if (user) { %>
        <a href = "/addgames" target = "_blank">
            <button style="margin-left: 20px"> Add a game  </button>
        </a>
    <% } %>


    <table class = "gameTable">
        <tr>
          <th class = "head">Name</th>
          <th class = "head">Game Link</th>
          <th class = "head">Description</th>
          <th class = "head">By user</th>
        </tr>
        
        <% if (games && games.length > 0) { %>
            <% JSON.stringify(games) %>
            <% games.forEach(game => { %>
                <tr>
                    <td class = "gameText">
                        <div class="description">
                            <%= game.game_name %>
                        </div>
                    </td>
                    <td class = "gameText">
                        <a href = "<%= game.link %>" target = "_blank">
                            <img src="data:image/png;base64, <%= game.image %>" alt="<%= game.name %>" id = "<%= game.id %>" class = "gameImage" onclick="addviews('<%= game.id %>', '<%= user && user.id %>')">
                        </a>
                        
                    </td>
                    <td class = "gameText">
                        <div class = "description"><%= game.description %></div>
                        <div id="views-count-<%= game.id%>"class = "viewCount"> <%= game.views %> Views </div>
                    </td>
                    <td class = "gameText description">
                        <%= game.user_name %>
                    </td>
                    <td class = "gameText">
                        <a href = "/game?id=<%=game.id%>" target = "_blank">
                            <button> View </button>
                        </a>  
                        <% 
                        if (user && user.role == "admin") { %>
                            <a href = "/gameedit?id=<%=game.id%>" target = "_blank">
                                <button> Edit </button>
                            </a>  
                            <button onclick="deletegame(event, '<%= game.id %>')"> Delete  </button>
                        <% } else if (user) { %>
                            <!--
                            <a href = "/game?id=<%=game.id%>" target = "_blank">
                                <button> View game  </button>
                            </a>  
                            -->
                            <% if (game.game_role != "admin") { %>
                                
                                <a href = "/game?id=<%=game.id%>" target = "_blank">
                                    <button> Edit </button>
                                </a>  
                                <button onclick="deletegame(event, '<%= game.id %>')"> Delete  </button>
                            <% } %>
                        <% } %>
                    </td>


                    
                </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="3">
                    There are no games available.
                    
                </td>
            </tr>
        <% } %>
      </table>

<script>
    
    async function addviews(gameid, user_id) {
        // console.log("user_id: ", user_id);
        const data = await fetch("/gameviews/" + gameid, {
            method: 'PUT',
            body: JSON.stringify({user_id: user_id}),
            headers: {
                'Content-Type': 'application/json'
            },
        });

        const resData = await data.json();

        console.log(resData);
        if (resData && resData['views']) {
            $("#views-count-" + gameid).html(resData['views'] + " views");
        }
    }; 

    async function deletegame(event, gameid) {
        var result = confirm("Are you sure you want to delete this game?");
        if (result) {
            try {
                const data = await fetch("/games/" + gameid, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                });
                console.log("response, data, ", data)
                if (data) {
                    // console.log("before reload");
                    // $('#messages').load(location.href + " #messages");

                    location.reload();
                }
                // const resData = await data.json();

                //console.log(resData, resData['views'] + " views");
                //$("#views-count-" + gameid).html(resData['views'] + " views");
            } 
            catch (err) {
                console.log("xlu ****************** error out", err);
            }
        }
        
    }; 
</script>

<%- include('./partials/footer'); -%>